@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca Simples</h1>
    <p>A solução definitiva para a organização e eficiência da sua biblioteca.</p>

    <div>
        <img src="/img/book_1.png"/>
    </div>
   
</div>
